
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #146dbd; /* Fondo oscuro */
  color: #fff;
  padding: 10px;
  box-shadow: 0 5px 10px rgba(0, 123, 255, 0.3); /* Sombra azul brillante */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 20px;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

#content {
  padding: 20px;
  text-align: center;
}

/* Añade estilos para las secciones (cada sección se identifica por un id) */

#nosotros,
#contacto,
#compras,
#ubicacion {
  margin: 50px 0;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px; /* Ajusta el tamaño del logo según tus preferencias */
  height: 50px; /* Ajusta el tamaño del logo según tus preferencias */
  margin-right: 10px;
}

.logo img {
  width: 100%;
  height: 100%;
  transition: transform 0.2s;
}

.logo img:hover {
  transform: scale(
    1.2
  ); /* Efecto de aumento al pasar el cursor sobre el logo */
}
